@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-foreground: #000;
  --color-muted-foreground: #6f6f6f;
  --color-primary: #1a1a1a;
}

::selection {
  @apply bg-primary/10
}
